.favoritesSection {
  width: 35%;
  border-radius: 10px;
  border: 4px pink solid;
  height: 100vh;
  overflow: auto;
  &__list {
    list-style: none;
    background-color: black;
  }
  &__title {
    background-color: pink;
    text-align: center;
  }
}
.favList {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 10px 15px 25px;
}
.favSeriesTitle {
  color: pink;
  font-size: 16px;
  margin-left: 25px;
}
.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 25px;
  margin: auto;
  cursor: pointer;
  &__text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
}
