<form class="form">
  <input
    id="serie"
    class="form__input js-input"
    type="text"
    placeholder="Introduce aquí tu serie"
  />
  <button type="submit" class="form__button js-searchBtn">Buscar</button>
  <button type="submit" class="form__button js-resetBtn">Reset</button>
</form>

<div class="seriesContainer">
  <section class="favoritesSection">
    <h2 class="favoritesSection__title">Series favoritas</h2>
    <ul class="favoritesSection__list js-favorites"></ul>
  </section>
  <section class="resultsSection">
    <h2 class="resultsSection__title">Resultados</h2>
    <ul class="resultsSection__list js-results"></ul>
  </section>
</div>
